<style>
    .vd-separater-left{
        margin-right:auto;
    }
    .vd-separater-center{
        margin-left:auto;
        margin-right:auto;
    }
    .vd-separater-right{
        margin-left:auto;
    }
</style>
<div style="width:100%;" class="{{id}}">
    <div class="vd-separater-{{ setting.global.align }}" style="width:{{ setting.global.width }};">
        <hr style="border-top: {{ setting.global.border_width }} {{ setting.global.style }} {{ setting.global.color }};"/>
    </div>
</div>